.유저말풍선 {
  margin-top: 7%;
  position: relative;
  max-height: 40%;
  width: 63%;
  height: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: aliceblue; */
}
.인풋창 {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 3rem;
  background-color: aliceblue;
  display: flex;
  resize: vertical; /* 입력 창의 크기 조절 방향을 수직으로 설정 */
  overflow-y: auto; /* 수직으로 넘칠 때 스크롤 바 표시 */
  border-radius: 20px;
  font-size: 0.9rem;
}
.인풋창:focus {
  background-color: #dde4ff;
  border-radius: 20px;
  outline-color: rgb(174, 211, 234);
}
.연필 {
  position: absolute;
  left: -1rem;
  width: 1.2rem;
  top: 0.95rem;
}
