.nav {
  display: flex;
  justify-content: space-around;
  background-color: #1f2544;
  position: fixed;
  z-index: 2;
  bottom: 0px;
  width: 100%;
  align-items: center;
  padding: 1rem 0rem 2rem 0rem;
  box-shadow: 0 0 10px 10px #1f2544;
  max-width: 450px;
}

.nav img {
  padding: 0.4rem 0.4rem 0rem;
  width: 1.7rem;
  height: 1.7rem;
}
